<!-- Main canvas wrapper for the map editor -->
<div 
    class="canvas" 
    [class.tile-selected]="this.editorState.selectedTileType() !== null"
    [class.object-selected]="this.editorState.selectedObjectType() !== null"
>

    <!-- Grid container
         - CSS variables (--cols, --rows) are bound dynamically
         - Used by CSS Grid to size the map
         - Mouse events here manage drag interactions -->
    <div class="grid-wrap">
        <div class="grid" [style.--cols]="editorState.cols()" [style.--rows]="editorState.rows()">

            <!-- Loop through every cell in the editor state
                - track $index for performance -->
            @for (cell of editorState.cells(); track $index) {
                <app-editor-tile
                    [index]="$index"
                    [tile]="cell"
                    [object]="editorState.getObjectAtIndex($index)"
                    (contextmenu)="onContextMenu($event)" 
                    (tileEvent)="handleTileEvent($event)"
                    >
                </app-editor-tile>
            }
        </div>
    </div>
</div>