<div class="end-game-container">
    <div>
        <div class="end-stats">
            <div class="header-row">
                <app-back-button (pressed)="leaveMatch('Retour a l accueil.')">
                </app-back-button>    
                <div>
                    <h2>Statistiques de fin de partie</h2>
                </div>
            </div>
            <app-end-stats
                (onEmptyStats)="leaveMatch('Retour a l accueil.')"
            ></app-end-stats>
        </div>
    </div>
    <app-game-chat-panel class="chat"
        [messages]="chatMessages()"
        [notification]="null"
        [currentPlayerName]="currentPlayer?.name ?? null"
        [messageMaxLength]="constants.messageMaxLength"
        [title]="'Clavardage'"
        [showTitle]="true"
        [readOnly]="false"
        (messageSubmit)="onChatMessageSubmit($event)"
    >
    </app-game-chat-panel>
</div>